/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.nounderline {
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}